<!doctype html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="A Hugo User"> 

    <title>Böse Büro - http://boseburo.ddns.net/</title>
    <link rel="canonical" href="http://boseburo.ddns.net/">
    
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="http://boseburo.ddns.net/index.xml" rel="alternate" type="application/rss+xml" title="Böse Büro" />
</head>

<body>
   
<div class="row">
	<div class="col-md-2">
  </div>
   <div class="col-md-8"> 
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ollyster</a>
        </div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/static/">Timeline</a></li>
					<li><a href="/network/">Groups</a></li>
					<li><a href="/login">Login </a></li>
					
                </ul>
            </div>
        
      </div>
    </nav>
</div>
<div class="col-md-2">
  </div>
</div>	
	


<div class="row">
  <div class="col-md-2">
  </div>
 

 <div class="col-md-6">   

  
<h2>Available groups</h2>
  <p>Full list of channels available to join.</p>            
  <table class="table table-striped " >

	<thead>
      <tr>
        <th class="col-md-2">Group name</th>
        <th class="col-md-4">Description</th>
      </tr>
    </thead>
	
	 <tbody>
	
	{{.Groups}}
  
     </tbody>
  </table>

</div>



  <div class="col-md-2"></div>
	  
	  
	  
 <!------ </div> -------------->

<div class="col-md-2">
	</div>
</div>

<div class="row">
  
<div class="col-md-2"></div>
  <div class="col-md-8">   


        <footer>
		
		<div class="panel panel-default">
		
		<dl class="dl-horizontal">
  <dt>Ollyster:</dt>
  <dd>Self-Hosted IRC Client with a Social Flavour</dd>

<dt>Download:</dt>
<dd><a href="https://github.com/uriel-fanelli/ollyster"> https://github.com/uriel-fanelli/ollyster  </a></dd>

<dt>by Loweel:</dt>
<dd><a href:="mailto:Loweel@gmx.de">Loweel@gmx.de</a> </dd>


		</dl>
		
		
		
		
		
		
		
		</div>
	
        </footer>
		
		
</div>
  <div class="col-md-2"></div></div>		
		


    <script src="/static/js/jquery.js">
    </script>
    <script src="/static/js/bootstrap.js">
    </script>
</body>
</html>
