

	
	
<div class="panel panel-warning">
   <div class="panel-heading"><b>{{.Author}}</b> </div>
   <div class="panel-body"> {{.Message}}  </div>
   <div class="panel-footer">
		<span class="badge">#Private</span>
		<span class="badge">+{{.Author}}</span>
		<span class="badge">#NOTICE</span>
		<span class="badge">{{.Time}}</span>
	</div>
</div>	
	
