

	
	
<div class="panel panel-danger">
   <div class="panel-heading"><b>{{.Author}}</b> </div>
   <div class="panel-body"> {{.Message}}  </div>
   <div class="panel-footer">
		<span class="badge">#Public</span>
		<span class="badge">{{.Group}}</span>
		<span class="badge">#Mention</span>
	</div>
</div>	
	